*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: hsl(218, 23%, 16%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: .7rem;
}
.main{
    align-self: center;
    border: 1px solid  hsl(217, 19%, 24%);
    justify-content: center;
    place-self: center;
    max-width: 30rem;
    text-align:center;
    border-radius: 1rem;
    position: absolute;
    background-color:  hsl(217, 19%, 24%);
    padding-left: 2rem;
    padding-right: 2rem;
}

h1{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}
h3{
    color: hsl(150, 100%, 66%);
    font-size: .6rem;
    letter-spacing: 2px;
}
.line{
    border: 0.2px solid  hsl(217, 19%, 38%);
    display: inline-block;
    width: 12rem;
}
.line-pause{
   align-items: center;
}
.fa-pause{
    color: #fff;
    position: relative;
    top: .2rem;
    font-size: 1.2rem;
}
.main h3, h1, .line-pause{
    margin-top: 1rem;
}
.fa-dice-five{
    position: relative;
    font-size: 1rem;
    margin-top: .5rem;
    top: 1rem;
    background-color:  hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: .8rem;
}
.fa-dice-five:hover{
    cursor: pointer;
    box-shadow:  hsl(150, 100%, 66%) 0px 0px 15px;
}
h1 i{
    font-size: .8rem;
    bottom: .5rem;
    position: relative;
}

@media (max-width: 480px) {
    .main{
        max-width: 25rem;
    }
    .line{
        width: 6rem;
    }
}